@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #5f6368;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

h2 {
  color: #3c4043;
}

.container {
  width: 65%;
  margin: 0 auto;
}

/* Styling Header */

header {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid rgba(151, 151, 151, 0.5);
  position: fixed;
  background-color: white;
}

header .header {
  width: 95%;
  margin: 0 auto;
}

header .header.top {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  font-size: 22px;
  height: 80%;
}

header .header.top a > img {
  margin-right: 10px;
  padding-top: 8px;
}

header .header.bottom {
  height: 20%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
          align-items: flex-end;
}

header .header.bottom .left {
  width: 80%;
}

header .header.bottom .left li {
  margin-right: 25px;
  padding-bottom: 5px;
}

header .header.bottom .left li:nth-child(5) {
  border-bottom: 2px solid #3367d6;
}

header .header.bottom .left li:nth-child(5) a {
  color: #3367d6;
}

header .header.bottom .right {
  width: 20%;
  text-align: right;
  padding-bottom: 5px;
}

/* Styling Main */

main {
  color: rgba(0, 0, 0, 0.87);
  padding: 100px 0 50px;
}

main .quest-answ {
  margin-top: 80px;
}

main .quest-answ:nth-child(1) {
  margin-top: 100px;
}

main p {
  margin-top: 20px;
  line-height: 24px;
}

main p span {
  color: #2962ff;
  cursor: pointer;
}

/* Styling Footer */

footer {
  height: 45px;
  background: #f5f5f5;
  border-top: 1px solid #eee;
  font-size: 11px;
}

footer .container {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

footer .container .footer-left li {
  margin-right: 8px;
}

footer .container .footer-right i {
  color: #3367d6;
  margin-right: 5px;
}

footer .container .footer-right #barra {
  width: 150px;
}

